<%- include("./temp/top.ejs") %>
<body>
<div class="oil_detail">
    <div class="det-header ">
        <p>订单详情</p>
        <p><%=data.goods_name%> - <%=data.tel_phone%></p>
    </div>

    <div class="det-content">
        <p>支付费用</p>
        <p>
            <span class="money-con">￥</span>
            <span class="money-num"><%=data.goods_price%> </span>
        </p>
    </div>

    <div class="det-mind">
        <p>代金券</p>
        <p>
            <span>无代金券可用</span>  </span>
        </p>
    </div>
    <div class="cz-footer" data-code="<%=data.goods_num%>">
        <div >
            <p>立即支付</p>
        </div>
    </div>

</div>
</body>
</html>